<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS5610 Web Development</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel= "stylesheet">
</head>
<body>

<!-- Header -->
<div class="container-fluid">
    <h1>Zhe Song's Assignment</h1>
    <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <a class="btn btn-primary " href="#!/login"
       ng-if="!model.currentUser">Login</a>
    <a class="btn btn-primary" href="#!/profile"
       ng-if="model.currentUser">Profile</a>
    <h3>Contact Information:</h3>
    <h3>song.zhe2@husky.neu.edu</h3>
</div>


</body>
</html>