<form>
    <div class="form-group">
        <label for="heading-name">Name</label>
        <input ng-model="model.widgetName"
               type="text" class="form-control" id="heading-name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="heading-text">Text</label>
        <input ng-model="model.widgetText"
               type="text" class="form-control" id="heading-text" placeholder="Text">
    </div>
    <div class="form-group">
        <label for="heading-size">Size</label>
        <input ng-model="model.widgetSize"
               type="text" class="form-control" id="heading-size" placeholder="3">
    </div>
</form>
<a class="btn btn-danger  btn-block" ng-click="model.deleteWidget()">Delete</a>
