<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">

            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
               class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold">
            Choose Widget
        </a>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group cl-list-group-borderless">
        <li class="list-group-item cl-list-item-borderless">

            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADING">Header</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>Label</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>HTML</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>Text Input</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>Link</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>Button</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/IMAGE">Image</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/YOUTUBE">YouTube</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>Data Table</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a>Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-right">

            <a href="#!/user/{{model.uid}}" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
