<div class="container-fluid">
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input ng-model="model.widgetName" type="text" class="form-control" placeholder="Name" id="name" required>
        <label for="text">Text</label>
        <input ng-model="model.widgetText" type="text" class="form-control" placeholder="Juicero shows what’s wrong with Silicon Valley thinking" id="text" required>
        <label for="size">Size</label>
        <input ng-model="model.widgetSize" type="text" class="form-control" placeholder="3" id="size" required>
    </form>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget(model.wgid)" a href = "#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">Delete</a>
</div>
