<nav id="profile_nav_bar" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Create YouTube Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="youtube-name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="youtube-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="youtube-text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="youtube-text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="youtube-url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="youtube-url"
                   placeholder="https://www.youtube.com/watch?v=xxxxxxxxx">
        </div>
        <div class="form-group">
            <label for="youtube-width">Width</label>
            <input  ng-model="model.widget.width" type="text" class="form-control" id="youtube-width" placeholder="100%">
        </div>
        <a ng-click="model.createWidget(model.widget)" class="btn btn-primary btn-block" id="widget-youtube-create-btn">Create</a>
    </form>
    <div ng-show="model.createError" class="alert alert-danger" role="alert">{{model.createError}}</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>