<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/new"
                   class="navbar-link rt-text-color-white rt-col-l-r-20">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="rt-text-color-white navbar-brand">
                Create TEXT Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" placeholder="Name" id="name" required>

        <label for="text">Text</label>
        <input ng-model="model.widget.text" type="text" class="form-control" placeholder="Juicero shows what’s wrong with Silicon Valley thinking" id="text" required>

        <label for="rows">Rows</label>
        <input ng-model="model.widget.rows" type="text" class="form-control" placeholder="3" id="rows" required>

        <label for="placeholder">Placeholder</label>
        <input ng-model="model.widget.placeholder" type="text" class="form-control" placeholder="Name" id="placeholder" required>

        <label for = "text-formatted">Formatted</label>
        <input ng-model="model.widget.formatted" class="form-check" id="text-formatted" type="checkbox"/>
    </form>
    <a ng-click="model.createWidget(model.widget)" class="btn btn-primary btn-block" id="widget-heading-create-btn">Create</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
