<nav id="profile_nav_bar" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand">
                Create Image Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="image-name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="image-name"
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="image-text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="image-text"
                   placeholder="Text">
        </div>
        <div class="form-group">
            <label for="image-url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="image-url"
                   placeholder="http://www.example.com">
        </div>
        <div class="form-group">
            <label for="image-width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="image-width"
                   placeholder="100%">
        </div>

        <div>
            <a ng-click="model.createWidget(model.widget)" class="btn btn-primary btn-block" id="widget-heading-create-btn">Create</a>
        </div>
    </form>

    <div ng-show="model.createError" class="alert alert-danger" role="alert">{{model.createError}}</div>


    <!--<form action=/api/upload   method="post" enctype="multipart/form-data">-->
        <!--<input  name="myFile"    type="file" class="form-control"/>-->
        <!--<input  name="width"     value="100%" style="display: none"/>-->
        <!--<input  name="userId"    value="{{model.uid}}"   style="display: none"/>-->
        <!--<input  name="websiteId" value="{{model.wid}}"   style="display: none"/>-->
        <!--<input  name="pageId"    value="{{model.pid}}"   style="display: none"/>-->
        <!--<input  name="widgetId"  value="{{model.wgid}}"   style="display: none"/>-->
        <!--<button type="submit"    class="btn btn-block btn-primary">Upload Image</button>-->
    <!--</form>-->


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>