<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <!--<a href="#!/usemodelsodel.website.developerId}}/websitmodelsodel.website._id}}/pagmodelsodel.widget.pageId}}/widget" class="navbar-link navbar-text pull-left cl-icon-padding cl-navbar-text cl-text-white">-->
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-text pull-left cl-icon-padding cl-navbar-text cl-text-white">
            <span class="glyphicon glyphicon-chevron-left "></span>
        </a>
        <a class="navbar-brand cl-navbar-text cl-text-white">
            Widget Edit
        </a>
        <a ng-click="model.updateWidget(model.widget)"
           a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget"
           class="navbar-link navbar-text pull-right cl-navbar-text cl-text-white">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div ng-switch="model.widgetType" class="container">
    <div ng-switch-when="HEADING">
        <div ng-include="'views/widget/widget-heading-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-include="'views/widget/widget-html-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="TEXT">
        <div ng-include="'views/widget/widget-text-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include="'views/widget/widget-image-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include="'views/widget/widget-youtube-edit.view.client.html'"></div>
    </div>
    <div ng-switch-when="TEXTINPUT">
        <div ng-include="'views/widget/widget-text-edit.view.client.html'"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="navbar-text pull-left">
            <a class="tv-icon-padding"><span class="glyphicon glyphicon-triangle-right"></span></a>
            <a class="tv-icon-padding"><span class="glyphicon glyphicon-eye-open"></span></a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/profile" class="cl-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>